language: cpp

script: ./configure && make && make test

compiler:
    - clang
    - gcc

matrix:
    include:
    # works on Precise and Trusty
    - os: linux
    addons:
        apt:
            sources:
                - ubuntu-toolchain-r-test
    packages:
    - g++-4.9
env:
- MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"
